* {
    margin: 0px;
}


.home-page {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    min-height: 100vh;
}

.home-page .div {
    background-color: #222222;
    width: 100%;
    height: 4617px;
    position: relative;

}

.home-page .overlap {
    position: absolute;
    width: 1440px;
    height: 343px;
    top: 4274px;
    left: 0;
    background-image: url(https://c.animaapp.com/1tmB3wjW/img/union-3.svg);
    background-size: cover;
}

.home-page .footer {
    position: relative;
    width: 1062px;
    height: 208px;
    top: 72px;
    left: 189px;
}

.home-page .home-link {
    position: absolute;
    width: 79px;
    height: 200px;
    top: 8px;
    left: 430px;
}

.home-page .text-wrapper {
    position: absolute;
    top: 96px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.button-container{
    display: flex;

    justify-content: flex-end;
}

.home-page .text-wrapper-2 {
    position: absolute;
    top: 136px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-3 {
    position: absolute;
    top: 176px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-4 {
    position: absolute;
    top: 56px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-5 {
    top: 0;
    left: 0;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    font-family: "Open Sans", Helvetica;
    letter-spacing: 0;
    white-space: nowrap;
}

.home-page .help-link {
    position: absolute;
    width: 111px;
    height: 200px;
    top: 8px;
    left: 664px;
}

.home-page .app-downlead-link {
    position: absolute;
    width: 138px;
    height: 120px;
    top: 8px;
    left: 930px;
}

.home-page .company-details {
    position: absolute;
    width: 1280px;
    height: 656px;
    flex-shrink: 0;
    border-radius: 50px 50px 0px 0px;
    background: rgba(36, 171, 112, 0.04);

}

.home-page .p {
    position: absolute;
    width: 264px;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.home-page .group {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 104px;
    left: 3px;
}

.home-page .img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 104px;
    left: 49px;
}

.home-page .search {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 104px;
    left: 95px;
}

.home-page .popular-hotels {
    position: absolute;
    width: 1280px;
    height: 656px;
    top: 896px;
    left: 80px;
}

.home-page .text-wrapper-6 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 60px;
    white-space: nowrap;
}

.home-page .all-view-button {
    position: absolute;
    width: 111px;
    height: 40px;
    top: 88px;
    left: 1171px;
}

.home-page .overlap-group {
    position: relative;
    width: 109px;
    height: 40px;
    background-color: #ff766566;
    border-radius: 280px;
}

.home-page .text-wrapper-7 {
    position: absolute;
    top: 6px;
    left: 26px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .overlap-2 {
    position: absolute;
    width: 411px;
    height: 480px;
    top: 176px;
    left: 0;
    border-radius: 16px;
}

.home-page .hotel-cart {
    top: 0;
    left: 0;
    position: absolute;
    width: 411px;
    height: 480px;
    background-color: #fafafa;
    border-radius: 16px;
}

.home-page .cart-details {
    position: relative;
    width: 306px;
    height: 72px;
    top: 370px;
    left: 16px;
}

.home-page .text-wrapper-8 {
    position: absolute;
    top: 54px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
}

.home-page .text-wrapper-9 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #222222;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.home-page .group-2 {
    position: absolute;
    width: 133px;
    height: 18px;
    top: 54px;
    left: 171px;
}

.home-page .text-wrapper-10 {
    position: absolute;
    top: 0;
    left: 108px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
}

.home-page .star {
    left: 0;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
}

.home-page .star-2 {
    left: 20px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
}

.home-page .star-3 {
    left: 40px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
}

.home-page .star-4 {
    left: 60px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
}

.home-page .star-5 {
    left: 80px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
}

.home-page .line {
    height: 16px;
    top: 55px;
    left: 141px;
    position: absolute;
    width: 1px;
    object-fit: cover;
}

.home-page .img-2 {
    position: absolute;
    width: 411px;
    height: 320px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.home-page .hotel-cart-2 {
    top: 176px;
    left: 435px;
    position: absolute;
    width: 411px;
    height: 480px;
    background-color: #fafafa;
    border-radius: 16px;
}

.home-page .cart-details-2 {
    position: absolute;
    width: 306px;
    height: 72px;
    top: 370px;
    left: 24px;
}

.home-page .hotel-cart-3 {
    top: 176px;
    left: 869px;
    position: absolute;
    width: 411px;
    height: 480px;
    background-color: #fafafa;
    border-radius: 16px;
}

.home-page .overlap-3 {
    position: absolute;
    width: 1280px;
    height: 520px;
    top: 2229px;
    left: 80px;
    border-radius: 16px;
}

.home-page .about-us {
    position: absolute;
    width: 1280px;
    height: 520px;
    top: 0;
    left: 0;
    background-color: #f4fbf8;
    border-radius: 16px;
}

.home-page .about-details {
    position: relative;
    width: 503px;
    height: 368px;
    top: 76px;
    left: 698px;
}

.home-page .text-wrapper-11 {
    position: absolute;
    width: 497px;
    top: 70px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #555555;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.home-page .text-wrapper-12 {
    position: absolute;
    width: 497px;
    top: 174px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #555555;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.home-page .explore-button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 32px;
    position: absolute;
    top: 312px;
    left: 0;
    background-color: #ff7665;
    border-radius: 35px;
}

.button {
    background-color: #ff7665;
    border: 0px;
    color: white;

}

.home-page .text-wrapper-13 {
    position: relative;

    margin-top: -1px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-14 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
}

.home-page .swimming-pool {
    position: absolute;
    width: 667px;
    height: 520px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.home-page .hotel-facilities {
    position: absolute;
    width: 1279px;
    height: 410px;
    top: 1699px;
    left: 80px;
}

.home-page .service-details {
    position: absolute;
    width: 415px;
    height: 310px;
    top: 0;
    left: 0;
}

.home-page .text-wrapper-15 {
    position: absolute;
    width: 386px;
    top: 120px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.home-page .contact-button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 32px;
    position: absolute;
    top: 254px;
    left: 0;
    background-color: #ff7665cc;
    border-radius: 35px;
}

.home-page .text-wrapper-16 {
    position: absolute;
    width: 411px;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 50px;
}

.home-page .private-workspace {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 0;
    left: 435px;
}

.home-page .overlap-group-2 {
    position: relative;
    width: 193px;
    height: 193px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e8e8e8;
}

.home-page .img-3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 75px;
}

.home-page .text-wrapper-17 {
    position: absolute;
    top: 114px;
    left: 26px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .exercise-space-cart {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 217px;
    left: 869px;
}

.home-page .text-wrapper-18 {
    position: absolute;
    top: 114px;
    left: 41px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .img-4 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50px;
    left: 76px;
}

.home-page .breakfast-cart {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 0;
    left: 869px;
}

.home-page .text-wrapper-19 {
    position: absolute;
    top: 114px;
    left: 60px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .parking-area-cart {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 0;
    left: 652px;
}

.home-page .overlap-4 {
    position: relative;
    width: 193px;
    height: 193px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e8e8e8;
    box-shadow: 0px 23px 30px #001c100d;
}

.home-page .text-wrapper-20 {
    position: absolute;
    top: 114px;
    left: 48px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .free-wifi-cart {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 0;
    left: 1086px;
}

.home-page .text-wrapper-21 {
    left: 63px;
    position: absolute;
    top: 114px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .free-electricity {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 217px;
    left: 435px;
}

.home-page .other-service-cart {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 217px;
    left: 1086px;
}

.home-page .text-wrapper-22 {
    position: absolute;
    top: 114px;
    left: 45px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .swimming-pool-cart {
    position: absolute;
    width: 195px;
    height: 193px;
    top: 217px;
    left: 652px;
}

.home-page .text-wrapper-23 {
    position: absolute;
    top: 114px;
    left: 38px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .company-location {
    position: absolute;
    width: 1280px;
    height: 677px;
    top: 3469px;
    left: 77px;
    background-image: url(https://c.animaapp.com/1tmB3wjW/img/map-1.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home-page .overlap-5 {
    position: absolute;
    width: 151px;
    height: 151px;
    top: 193px;
    left: 830px;
    background-color: #d365581a;
    border-radius: 75.5px;
}

.home-page .ellipse {
    position: absolute;
    width: 77px;
    height: 77px;
    top: 37px;
    left: 37px;
    background-color: #d365581a;
    border-radius: 38.5px;
}

.home-page .ellipse-2 {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 62px;
    left: 62px;
    background-color: #d36558;
    border-radius: 13.5px;
}

.home-page .contact-details {
    position: absolute;
    width: 1198px;
    height: 199px;
    top: 435px;
    left: 43px;
}

.home-page .overlap-6 {
    position: relative;
    width: 1194px;
    height: 199px;
    background-color: #ffffff;
    border-radius: 16px;
}

.home-page .text-wrapper-24 {
    position: absolute;
    top: 36px;
    left: 66px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #222222;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 40px;
    white-space: nowrap;
}

.home-page .lorem-ipsum-is {
    position: absolute;
    width: 510px;
    top: 100px;
    left: 66px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #555555;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.home-page .overlap-group-wrapper {
    position: absolute;
    width: 440px;
    height: 56px;
    top: 100px;
    left: 692px;
}

.home-page .overlap-group-3 {
    position: relative;
    width: 436px;
    height: 56px;
    background-color: #fafafa;
    border-radius: 50px;
}

.home-page .div-wrapper {
    position: absolute;
    width: 124px;
    height: 56px;
    top: 0;
    left: 312px;
    background-color: #d36558cc;
    border-radius: 50px;
}

.home-page .text-wrapper-25 {
    top: 16px;
    left: 32px;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    font-family: "Open Sans", Helvetica;
    letter-spacing: 0;
    white-space: nowrap;
}

.home-page .text-wrapper-26 {
    position: absolute;
    top: 14px;
    left: 24px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #555555;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.home-page .header {
    position: absolute;
    width: 1280px;
    height: 656px;
    top: 120px;
    left: 80px;
    background-color: #ffffff;
    border-radius: 16px;
}

.home-page .overlap-7 {
    position: relative;
    height: 657px;
    top: -1px;
}

.home-page .hotel {
    position: absolute;
    width: 674px;
    height: 657px;
    top: 0;
    left: 606px;
    object-fit: cover;
}

.home-page .rectangle {
    position: absolute;
    width: 1280px;
    height: 656px;
    top: 1px;
    left: 0;
    background-color: #23ab700a;
    border-radius: 50px 50px 0px 0px;
}

.home-page .video {
    position: absolute;
    width: 193px;
    height: 56px;
    top: 432px;
    left: 60px;
}

.home-page .text-wrapper-27 {
    position: absolute;
    top: 13px;
    left: 72px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #222222;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.home-page .arrow-right-wrapper {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 28px;
    border: 1px solid;
    border-color: #e8e8e84f;
}

.home-page .arrow-right {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 7px;
    left: 7px;
}

.home-page .text-wrapper-28 {
    position: absolute;
    width: 515px;
    top: 339px;
    left: 60px;
    font-family: "Open Sans", Helvetica;
    font-weight: 700;
    color: #555555;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
}

.home-page .text-wrapper-29 {
    position: absolute;
    width: 499px;
    top: 71px;
    left: 60px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 80px;
}

.home-page .search-button {
    position: absolute;
    width: 1000px;
    height: 100px;
    top: 516px;
    left: 140px;
    background-color: #ffffff;
    border-radius: 280px;
    box-shadow: 0px 22px 38px #00221314;
}

.home-page .group-wrapper {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 0;
    left: 800px;
    background-color: #ff543ecc;
    border-radius: 280px;
}

.home-page .group-3 {
    position: relative;
    width: 108px;
    height: 24px;
    top: 38px;
    left: 46px;
}

.home-page .group-4 {
    position: relative;
    width: 110px;
    height: 24px;
}

.home-page .text-wrapper-30 {
    position: absolute;
    top: 0;
    left: 36px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .img-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}

.home-page .group-5 {
    position: absolute;
    width: 117px;
    height: 48px;
    top: 26px;
    left: 212px;
}

.home-page .text-wrapper-31 {
    position: absolute;
    top: 0;
    left: 34px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-32 {
    position: absolute;
    top: 32px;
    left: 34px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #555555;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.home-page .group-6 {
    position: absolute;
    width: 131px;
    height: 48px;
    top: 26px;
    left: 385px;
}

.home-page .line-2 {
    height: 60px;
    top: 20px;
    left: 355px;
    position: absolute;
    width: 1px;
    object-fit: cover;
}

.home-page .line-3 {
    height: 60px;
    top: 20px;
    left: 182px;
    position: absolute;
    width: 1px;
    object-fit: cover;
}

.home-page .line-4 {
    height: 60px;
    top: 20px;
    left: 542px;
    position: absolute;
    width: 1px;
    object-fit: cover;
}

.home-page .group-7 {
    position: absolute;
    width: 147px;
    height: 48px;
    top: 26px;
    left: 572px;
}

.home-page .group-8 {
    position: absolute;
    width: 118px;
    height: 48px;
    top: 26px;
    left: 30px;
}

.home-page .navigations-bar {
    position: absolute;
    width: 1280px;
    height: 40px;
    top: 40px;
    left: 80px;
}

.home-page .login-button {
    position: absolute;
    width: 135px;
    height: 40px;
    top: 0;
    left: 1147px;
    all: unset;
    box-sizing: border-box;
}

.home-page .overlap-group-4 {
    position: relative;
    width: 133px;
    height: 40px;
    background-color: #ff7665;
    border-radius: 35px;
}

.home-page .text-wrapper-33 {
    position: absolute;
    width: 43px;
    top: 10px;
    left: 45px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
}

.home-page .navbar {
    position: absolute;
    width: 486px;
    height: 24px;
    top: 8px;
    left: 402px;
}

.home-page .text-wrapper-34 {
    left: 101px;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-35 {
    left: 314px;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-36 {
    position: absolute;
    top: 0;
    left: 205px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-37 {
    left: 418px;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .text-wrapper-38 {
    left: 0;
    position: absolute;
    top: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.home-page .overlap-8 {
    position: absolute;
    width: 1185px;
    height: 415px;
    top: 2901px;
    left: 138px;
}

.home-page .group-9 {
    position: absolute;
    width: 1179px;
    height: 395px;
    top: 20px;
    left: 6px;
}

.home-page .overlap-9 {
    position: absolute;
    width: 682px;
    height: 190px;
    top: 0;
    left: 487px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #585858;
    box-shadow: 6px 10px 50px #a7afb640;
}

.home-page .how-far-is-nearset {
    position: absolute;
    top: 26px;
    left: 29px;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: #0c1623;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30.6px;
    white-space: nowrap;
}

.home-page .text-wrapper-39 {
    position: absolute;
    width: 628px;
    top: 73px;
    left: 29px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #1d263ae6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.home-page .group-10 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 4px;
    left: 621px;
}

.home-page .overlap-10 {
    position: absolute;
    width: 682px;
    height: 80px;
    top: 215px;
    left: 487px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #000000;
}

.home-page .text-wrapper-40 {
    position: absolute;
    top: 24px;
    left: 29px;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #0c1623;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30.6px;
    white-space: nowrap;
}

.home-page .group-11 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 21px;
    left: 621px;
}

.home-page .overlap-11 {
    position: absolute;
    width: 682px;
    height: 80px;
    top: 315px;
    left: 487px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #000000;
}

.home-page .text-wrapper-41 {
    position: absolute;
    width: 410px;
    top: 122px;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.home-page .frequently-asked {
    position: absolute;
    width: 411px;
    top: 0;
    left: 0;
    font-family: "Open Sans", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 62.4px;
}

.home-page .span {
    color: #ffffff;
}

.home-page .text-wrapper-42 {
    color: #ff7665;
}

.description {
    display: none;
    overflow: hidden;
    transition: height 0.3s ease;
}

.arrow {
    cursor: pointer;
}